/*
  Author: Sushil Kumar Thanet
  Date: Oct 4,2024
  File Name: styles.css
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1 {
    margin: 0;
    padding: 0;
    border: 0;
    background-color:#baafa6;
}

img {
    max-width: 100%;
    display: block;
}

/* Style rules for Header and logo */
header {
    margin: 0;
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    background-color: #baafa6;
    /* height: 190px; */
}

header img {
    margin: 0 auto;
    height: 100%;

    border-radius: 50%;
}

/* Style rules for navigation area */
nav {
    margin: 0;
	padding: 1%;
    margin-bottom: 1%;
    background-color:#baafa6;
}

nav ul {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
}

nav li {
    /* padding: 0 3em; */
    font-size: 1.5em;
    font-family: 'Francois One', sans-serif;
    border-top: 1px solid black;
   
}

nav li:first-child {
    border-top: none;
}

nav li a {
   
    display: block;
    color:black;
    padding: 0.5em 1em;
    text-decoration: none;
}

nav li a:hover{
    color: white;
    background-color: black;
}

/* concat page style-rules */
#contact {
    text-align: center;
}

#contact a {
    color: #4645a8;
    text-decoration: none;
    font-weight: bold;
}

.map {
    border: 5px solid #373684;
    height: 350px;
    width: 600px;
}

/* Style rules for footer content */
footer {
    text-align: center;
    font-size: 0.65em;
    clear: left;
}

footer a {
    color: #4645a8;
    text-decoration: none;
}

/* defining the media querry for tablet viewport */


@media screen and (min-width:630px), print {

    /* tabled viewport: style rule for header */

    header{
        position: static;
        padding-bottom: 2%;
        /* width: 25%; */
    }
    
    nav li{
        border-top: none;
        display: inline-block;
        
       
    }
    nav li:last-child{
        border-right: none;
    }
    nav li a{
        padding: 0.1em 0.75em;
    }


   
}

@media screen and (min-width:769px), print {
    header {
        width: 25%;
        float: left;
        padding-bottom: 0;
        /* margin-top: 0; */
    }
    nav {
        /* float: right; */
        width: 100%;
        padding: 4em 0 0 0;
    }
    nav ul {
        text-align: right;
        
    }

    nav li{
        border: none;
    }
    nav li a {
        padding: 0.5em 1em;
    }

    main{
        clear: left;
    }



}

@media screen and(min-width:1029px), print{
    nav {
        /* float: right; */
        /* width: 100%; */
        padding: 10em 0 0 0;
    }
    
}

@media screen and (min-width:1921px) {
   #container{
       width: 1920px;
       margin: 0 auto;

   }

}

@media print{
    body{
        background-color: white;
        color: black;
    }  
}
